.footer-row {
    padding: 0px;
    margin-bottom: 16px;
}

.footer-row button, label {
    margin-right: 16px;
}
.footer-row label {
    font-weight: 600;
}

.footer-row button:focus {
    margin-right: 16px;
}

